.window {
  border-width: var(--border-width-base);
  border-style: solid;

  padding: var(--padding-xxs);
  background-color: var(--inner-background);

  position: relative;
}

.titleBar {
  cursor: move;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #2a7b9b;
  background: linear-gradient(
    90deg,
    var(--secondary) 0%,
    var(--accent) 80%,
    var(--primary) 100%
  );
  padding: var(--padding-xs) var(--padding-sm);
  margin-bottom: var(--padding-xxs);
}

.titleBar > h2 {
  color: var(--color-secondary);
  font-size: var(--text-3xl);
  line-height: var(--text-4xl);
  font-weight: bold;
}
