:root {
  --color: #520044;
  --primary: #a8e6ff;
  --accent: rgba(87, 199, 133, 1);
  --secondary: #a30088;
  --inner-background: #e7f8ff;
  --outter-background: #ff90ec;
  --hover: #ff7e4b;
  --faded: #595959;
  --error: #f69393;
  --loading: #92bef6;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 5rem;
  --padding-xxs: 0.1rem;
  --padding-xs: 0.25rem;
  --padding-sm: 0.375rem;
  --padding-base: 0.5rem;
  --padding-lg: 0.75rem;
  --padding-xl: 1rem;
  --padding-2xl: 1.25rem;
  --padding-3xl: 1.5rem;
  --padding-4xl: 1.725rem;
  --padding-5xl: 2rem;
  --padding-6xl: 3rem;
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 0.75rem;
  --spacing-lg: 0.875rem;
  --spacing-xl: 1rem;
  --spacing-2xl: 1.125rem;
  --spacing-3xl: 1.25rem;
  --spacing-4xl: 1.5rem;
  --spacing-5xl: 1.875rem;
  --spacing-6xl: 2rem;
  --border-radius-sm: 0.3rem;
  --border-radius-base: 0.6rem;
  --border-width-xs: 2px;
  --border-width-sm: 3px;
  --border-width-base: 5px;
  --transition-time-fast: 0.1s;
  --transition-time-normal: 0.25s;
  --transition-time-slow: 0.8s;
}

#root {
  max-height: 100vh;
  min-width: max(20rem, 320px);
  /* max-width: max(80rem, 1280px); */
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;

  font-size: var(--text-lg);
  line-height: 1.54;
  font-family: "Space Mono", monospace;
  font-variant-ligatures: no-common-ligatures;
  color: var(--color);

  margin-right: auto;
  margin-left: auto;

  background-color: var(--outter-background);
}

button,
label,
input {
  cursor: pointer;
}

* {
  border-color: var(--primary) var(--secondary) var(--secondary) var(--primary);
}
